In [1]:
import pandas as pd
import sqlalchemy

In [2]:
from sqlalchemy import create_engine
import pandas as pd

# Connecting to the airline database
engine = create_engine('sqlite:///Dataset/database.sqlite')


# Writting SQL query
sql_query = """
    SELECT *
    FROM Tweets
"""

# Grabbing results from SQL 
airline_tweets_df = pd.read_sql(sql_query, engine)

# Printing games data
airline_tweets_df.head(7)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567588278875213824,neutral,1.0,,,Delta,,JetBlueNews,,0,@JetBlue's new CEO seeks the right balance to ...,,2015-02-16 23:36:05 -0800,USA,Sydney
1,567590027375702016,negative,1.0,Can't Tell,0.6503,Delta,,nesi_1992,,0,@JetBlue is REALLY getting on my nerves !! ðŸ˜¡ðŸ˜¡ ...,,2015-02-16 23:43:02 -0800,undecided,Pacific Time (US & Canada)
2,567591480085463040,negative,1.0,Late Flight,0.346,United,,CPoutloud,,0,@united yes. We waited in line for almost an h...,,2015-02-16 23:48:48 -0800,"Washington, DC",
3,567592368451248130,negative,1.0,Late Flight,1,United,,brenduch,,0,@united the we got into the gate at IAH on tim...,,2015-02-16 23:52:20 -0800,,Buenos Aires
4,567594449874587648,negative,1.0,Customer Service Issue,0.3451,Southwest,,VahidESQ,,0,@SouthwestAir its cool that my bags take a bit...,,2015-02-17 00:00:36 -0800,"Los Angeles, CA",Pacific Time (US & Canada)
5,567594579310825473,negative,1.0,Bad Flight,0.6707,United,,brenduch,,0,@united and don't hope for me having a nicer f...,,2015-02-17 00:01:07 -0800,,Buenos Aires
6,567595670463205376,negative,1.0,Late Flight,1,United,,CRomerDome,,0,@united I like delays less than you because I'...,,2015-02-17 00:05:27 -0800,"Portland, OR",Pacific Time (US & Canada)

In [3]:
# writting sql query
sql_query = """
    SELECT airline_sentiment,airline, negativereason
    FROM Tweets
"""

# Grabbing results from SQL 
airline_tweets_df = pd.read_sql(sql_query, engine)

# Printing games data
airline_tweets_df.head(7)

  airline_sentiment    airline          negativereason
0           neutral      Delta
1          negative      Delta              Can't Tell
2          negative     United             Late Flight
3          negative     United             Late Flight
4          negative  Southwest  Customer Service Issue
5          negative     United              Bad Flight
6          negative     United             Late Flight