In [1]:
import pandas as pd
import math
import numpy as np

In [2]:

#Pulling Data from Issues Table-
issues_df = pd.read_csv('github_issues.csv')  
print("Pulling The Issues df:",issues_df.head(2))



#Pulling Data from Commits Table-
commits_df = pd.read_csv('github_commits.csv')  
print("Pulling the Commits df:",commits_df.head(2))


#Pulling Data from Main Table-
main_df = pd.read_csv('github_main.csv')  
print("Pulling the Main df:",main_df.head(2))

Pulling The Issues df:            id  number                                              title  \
0  1661541619   31138  v1.14: doc: typo in geyser plugin doc (backpor...
1  1661342491   31137  validator: `--tpu-host-addr` -> `--public-tpu-...

            created_at           updated_at  closed_at author_association  \
0  2023-04-10 23:29:19  2023-04-10 23:30:21        NaN        CONTRIBUTOR
1  2023-04-10 20:49:31  2023-04-11 00:04:07        NaN        CONTRIBUTOR

   comments                                               body    user_login  \
0         0  This is an automatic backport of pull request ...  mergify[bot]
1         1  #### Problem\r\n\r\n`--tpu-host-addr` is not v...      diman-io

    user_id Crypto_Name Extension
0  37929162      solana   /issues
1  71597545      solana   /issues
Pulling the Commits df:    total        week                  days Crypto_Name  \
0    124  1650153600  {1,19,34,26,14,25,5}      solana
1    131  1650758400  {1,25,18,25,37,16,9}      solana

                Extension  Sun  Mon  Tue  Wed  Thur  Fri  Sat
0  /stats/commit_activity    1   19   34   26    14   25    5
1  /stats/commit_activity    1   25   18   25    37   16    9
Pulling the Main df:           id                 created_at                  updated_at  \
0    1181927  2010-12-19 15:16:43+00:00  2023-04-11 19:13:53.000000
1  121470383  2018-02-14 04:26:27+00:00  2023-04-11 18:18:42.000000

                    pushed_at    size  stargazers_count  watchers_count  \
0  2023-04-11 18:36:34.000000  228758             69004           69004
1  2023-04-11 18:56:16.000000  439138             10182           10182

   forks_count  open_issues_count  watchers  network_count  subscribers_count  \
0        34048                684     69004          34048               3932
1         2824                871     10182           2824                269

   owner_id  organization_id   Crypto                          15
0    528860           528860  bitcoin  2023-04-11 19:14:25.475622
1  35608259         35608259   solana  2023-04-11 19:15:07.319429

In [3]:
data=main_df

In [12]:


#### code for catagorical data
data_file = data.select_dtypes(exclude =np.number)
def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count

discrete_dataFrame_columns = ['Column Name', 'total_count', 'unique_count', 'null_count', '% null', 'levels',
                                  'value_count', '% counts']
discrete_dataFrame = pd.DataFrame(columns=discrete_dataFrame_columns)

def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count
for column in data_file.columns:

        #print("Working on : " + column)

        column_data = data_file[column]
        total_count, unique_count , null_count = count_stats(column_data)
        if(total_count!=0):
            null_per = float(null_count)/float(total_count)*100
        else:
            null_per = 0

        #column_type,column_data = get_column_type(column_data)


        value_counts = pd.DataFrame(column_data.value_counts())
        value_counts = value_counts.reset_index()
        value_counts.insert(loc=0,column='Column Name',value=column)
        value_count_columns = ['Column Name','levels', 'value_count']
        value_counts.columns = value_count_columns
        value_counts = value_counts.sort_values(by='value_count', ascending=False)
        value_counts_top = value_counts[:10].copy()
        top_frequency = value_counts_top.value_count.sum()
        others_frequency = value_counts[10:].value_count.sum()


        temp_column_names = ['Column Name','total_count','unique_count','null_count','% null']
        temp_values = [[column,total_count,unique_count,null_count,null_per]]
        temp_dataFrame = pd.DataFrame(columns=temp_column_names,data=temp_values)

        ## create value counts dataframe with others column
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
        ## add null level
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
        ## add % counts

        if(total_count!=0):
                value_counts_top['% counts'] = value_counts_top.value_count/float(total_count) * 100
        else:
                value_counts_top['% counts'] = 0

            ## merge temp_dataframe and value_counts_top, then insert into discrete_dataframe
        temp_discrete_dataFrame = temp_dataFrame.merge(how='left',left_on='Column Name',right_on='Column Name',right=value_counts_top)

        discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
discrete_dataFrame_cat = discrete_dataFrame.copy()
discrete_dataFrame_cat['Column_Type']=['Categorical']*len(discrete_dataFrame_cat)        
discrete_dataFrame_cat = discrete_dataFrame_cat[['Column_Type','Column Name', 'total_count', 'unique_count', 'null_count', '% null',
       'levels', 'value_count', '% counts']]
        
#### code for cont. data
data_file = data.select_dtypes(include =np.number)
def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count

discrete_dataFrame_columns = ['Column Name', 'total_count', 'unique_count', 'null_count', '% null', 'levels',
                                  'value_count', '% counts']
discrete_dataFrame = pd.DataFrame(columns=discrete_dataFrame_columns)

def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count
for column in data_file.columns:

       #print("Working on : " + column)

        column_data = data_file[column]
        total_count, unique_count , null_count = count_stats(column_data)
        if(total_count!=0):
            null_per = float(null_count)/float(total_count)*100
        else:
            null_per = 0

        #column_type,column_data = get_column_type(column_data)


        value_counts = pd.DataFrame(column_data.value_counts())
        value_counts = value_counts.reset_index()
        value_counts.insert(loc=0,column='Column Name',value=column)
        value_count_columns = ['Column Name','levels', 'value_count']
        value_counts.columns = value_count_columns
        value_counts = value_counts.sort_values(by='value_count', ascending=False)
        value_counts_top = value_counts[:10].copy()
        top_frequency = value_counts_top.value_count.sum()
        others_frequency = value_counts[10:].value_count.sum()


        temp_column_names = ['Column Name','total_count','unique_count','null_count','% null']
        temp_values = [[column,total_count,unique_count,null_count,null_per]]
        temp_dataFrame = pd.DataFrame(columns=temp_column_names,data=temp_values)

        ## create value counts dataframe with others column
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
        ## add null level
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
        ## add % counts

        if(total_count!=0):
                value_counts_top['% counts'] = value_counts_top.value_count/float(total_count) * 100
        else:
                value_counts_top['% counts'] = 0

            ## merge temp_dataframe and value_counts_top, then insert into discrete_dataframe
        temp_discrete_dataFrame = temp_dataFrame.merge(how='left',left_on='Column Name',right_on='Column Name',right=value_counts_top)

        discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
df=data_file.describe(percentiles=[.1,.2,.25,.3,.4,.6,.7,.75,.8,.9]).T.reset_index()
df=df.drop(labels="count",axis=1)
df2=pd.merge(discrete_dataFrame,df,how='left',left_on='Column Name',right_on='index')
Q1 = data_file.quantile(0.25)
Q3 = data_file.quantile(0.75)
IQR = Q3 - Q1
outliers=pd.DataFrame(data=((data_file< (Q1 - 1.5 * IQR)) | (data_file > (Q3 + 1.5 * IQR))).sum(),columns=["Outliers_count"]).reset_index()
df3=pd.merge(df2,outliers,how='left',left_on='Column Name',right_on='index')
df3=df3.drop(labels=['index_x','index_y'],axis=1)
df3['Column_Type']=['Continous']*len(df3)
df3=df3[['Column_Type','Column Name', 'total_count', 'unique_count', 'null_count', '% null',
       'levels', 'value_count', '% counts', 'mean', 'std', 'min', 
       '25%', '50%', '75%', '90%', 'max',
       'Outliers_count']]
df3=df3.append(discrete_dataFrame_cat)

/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3488705066.py:166: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3=df3.append(discrete_dataFrame_cat)

In [13]:
df3

,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,25%,50%,75%,90%,max,Outliers_count
0,Continous,id,23,2,0,0.0,1181927,12,52.173913,5.871119e+07,6.143780e+07,1181927.0,1181927.0,1181927.0,121470383.0,121470383.0,121470383.0,0.0
1,Continous,id,23,2,0,0.0,121470383,11,47.826087,5.871119e+07,6.143780e+07,1181927.0,1181927.0,1181927.0,121470383.0,121470383.0,121470383.0,0.0
2,Continous,id,23,2,0,0.0,others,0,0.0,5.871119e+07,6.143780e+07,1181927.0,1181927.0,1181927.0,121470383.0,121470383.0,121470383.0,0.0
3,Continous,id,23,2,0,0.0,nulls,0,0.0,5.871119e+07,6.143780e+07,1181927.0,1181927.0,1181927.0,121470383.0,121470383.0,121470383.0,0.0
4,Continous,size,23,16,0,0.0,228758,4,17.391304,3.298696e+05,1.078618e+05,228758.0,228886.0,228984.0,440136.5,440716.0,440743.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,Categorical,15,23,23,0,0.0,2023-04-12 13:52:26.770311,1,4.347826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Categorical,15,23,23,0,0.0,2023-04-12 16:08:56.642090,1,4.347826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Categorical,15,23,23,0,0.0,2023-04-12 16:15:17.694781,1,4.347826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Categorical,15,23,23,0,0.0,others,13,56.521739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Categorical,15,23,23,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN