In [34]:
import pandas as pd
import math
import numpy as np 
pd.set_option('display.max_rows', None)

In [35]:
#Pulling Data from Issues Table-
issues_df = pd.read_csv('github_issues.csv')  
print("Pulling The Issues df:",issues_df.shape)


#Pulling Data from Commits Table-
commits_df = pd.read_csv('github_commits.csv')  
print("Pulling the Commits df:",commits_df.shape)


#Pulling Data from Main Table-
main_df = pd.read_csv('github_main.csv')  

print("Pulling the Main df:",main_df.shape)

Pulling The Issues df: (118, 13)
Pulling the Commits df: (624, 12)
Pulling the Main df: (23, 16)

In [45]:
main_df

,id,created_at,updated_at,pushed_at,size,stargazers_count,watchers_count,forks_count,open_issues_count,watchers,network_count,subscribers_count,owner_id,organization_id,Crypto,inserted_at
0,1181927,2010-12-19 15:16:43+00:00,2023-04-11 19:13:53.000000,2023-04-11 18:36:34.000000,228758,69004,69004,34048,684,69004,34048,3932,528860,528860,bitcoin,2023-04-11 19:14:25.475622
1,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-11 18:56:16.000000,439138,10182,10182,2824,871,10182,2824,269,35608259,35608259,solana,2023-04-11 19:15:07.319429
2,1181927,2010-12-19 15:16:43+00:00,2023-04-11 19:13:53.000000,2023-04-11 18:36:34.000000,228758,69004,69004,34048,684,69004,34048,3932,528860,528860,bitcoin,2023-04-11 19:15:33.946535
3,1181927,2010-12-19 15:16:43+00:00,2023-04-11 19:23:25.000000,2023-04-11 20:01:38.000000,228758,69003,69003,34049,684,69003,34049,3932,528860,528860,bitcoin,2023-04-11 20:04:03.233761
4,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-11 20:00:44.000000,439138,10182,10182,2824,870,10182,2824,269,35608259,35608259,solana,2023-04-11 20:08:40.057045
5,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-12 01:32:48.000000,439684,10182,10182,2826,870,10182,2826,269,35608259,35608259,solana,2023-04-12 02:29:16.483210
6,1181927,2010-12-19 15:16:43+00:00,2023-04-12 02:06:45.000000,2023-04-11 21:35:23.000000,228758,69009,69009,34048,685,69009,34048,3931,528860,528860,bitcoin,2023-04-12 02:30:25.366766
7,1181927,2010-12-19 15:16:43+00:00,2023-04-12 14:45:19.000000,2023-04-12 15:11:27.000000,228782,69018,69018,34052,683,69018,34052,3932,528860,528860,bitcoin,2023-04-12 13:52:26.770311
8,121470383,2018-02-14 04:26:27+00:00,2023-04-12 15:36:47.000000,2023-04-12 15:59:44.000000,439241,10186,10186,2828,873,10186,2828,269,35608259,35608259,solana,2023-04-12 16:08:56.642090
9,1181927,2010-12-19 15:16:43+00:00,2023-04-12 16:03:12.000000,2023-04-12 16:11:36.000000,228813,69017,69017,34052,684,69017,34052,3932,528860,528860,bitcoin,2023-04-12 16:15:17.694781
10,121470383,2018-02-14 04:26:27+00:00,2023-04-12 15:36:47.000000,2023-04-12 17:43:35.000000,439317,10186,10186,2829,872,10186,2829,270,35608259,35608259,solana,2023-04-12 18:05:12.386244
11,1181927,2010-12-19 15:16:43+00:00,2023-04-12 23:38:13.000000,2023-04-12 23:56:47.000000,228959,69025,69025,34051,684,69025,34051,3932,528860,528860,bitcoin,2023-04-13 00:10:15.096663
12,1181927,2010-12-19 15:16:43+00:00,2023-04-12 23:38:13.000000,2023-04-12 23:56:47.000000,228959,69025,69025,34051,684,69025,34051,3932,528860,528860,bitcoin,2023-04-13 00:13:49.896068
13,121470383,2018-02-14 04:26:27+00:00,2023-04-12 23:36:27.000000,2023-04-13 00:11:28.000000,440589,10187,10187,2830,866,10187,2830,270,35608259,35608259,solana,2023-04-13 00:21:57.949175
14,121470383,2018-02-14 04:26:27+00:00,2023-04-13 06:43:54.000000,2023-04-13 06:25:37.000000,440597,10190,10190,2831,863,10190,2831,270,35608259,35608259,solana,2023-04-13 06:32:14.187028
15,1181927,2010-12-19 15:16:43+00:00,2023-04-13 15:47:48.000000,2023-04-13 15:12:48.000000,228971,69043,69043,34060,682,69043,34060,3931,528860,528860,bitcoin,2023-04-13 15:56:07.776892
16,121470383,2018-02-14 04:26:27+00:00,2023-04-13 16:51:57.000000,2023-04-13 17:52:33.000000,440628,10190,10190,2832,860,10190,2832,270,35608259,35608259,solana,2023-04-13 18:05:13.588173
17,1181927,2010-12-19 15:16:43+00:00,2023-04-13 17:59:18.000000,2023-04-13 18:46:43.000000,228971,69044,69044,34060,682,69044,34060,3930,528860,528860,bitcoin,2023-04-13 19:10:10.648369
18,121470383,2018-02-14 04:26:27+00:00,2023-04-13 16:51:57.000000,2023-04-14 02:21:42.000000,440743,10190,10190,2834,861,10190,2834,270,35608259,35608259,solana,2023-04-14 03:07:02.246605
19,1181927,2010-12-19 15:16:43+00:00,2023-04-14 02:48:38.000000,2023-04-14 01:44:41.000000,228978,69046,69046,34062,682,69046,34062,3931,528860,528860,bitcoin,2023-04-14 03:08:32.856509
20,121470383,2018-02-14 04:26:27+00:00,2023-04-14 15:07:20.000000,2023-04-14 15:54:01.000000,440738,10193,10193,2833,861,10193,2833,270,35608259,35608259,solana,2023-04-14 16:01:10.498974
21,121470383,2018-02-14 04:26:27+00:00,2023-04-14 15:07:20.000000,2023-04-14 18:00:32.000000,440738,10193,10193,2833,861,10193,2833,270,35608259,35608259,solana,2023-04-14 18:05:12.248300
22,1181927,2010-12-19 15:16:43+00:00,2023-04-14 18:26:27.000000,2023-04-14 16:43:44.000000,228984,69063,69063,34065,684,69063,34065,3931,528860,528860,bitcoin,2023-04-14 19:10:12.327308

In [46]:
data=main_df[main_df['Crypto']=='solana']
data

,id,created_at,updated_at,pushed_at,size,stargazers_count,watchers_count,forks_count,open_issues_count,watchers,network_count,subscribers_count,owner_id,organization_id,Crypto,inserted_at
1,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-11 18:56:16.000000,439138,10182,10182,2824,871,10182,2824,269,35608259,35608259,solana,2023-04-11 19:15:07.319429
4,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-11 20:00:44.000000,439138,10182,10182,2824,870,10182,2824,269,35608259,35608259,solana,2023-04-11 20:08:40.057045
5,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-12 01:32:48.000000,439684,10182,10182,2826,870,10182,2826,269,35608259,35608259,solana,2023-04-12 02:29:16.483210
8,121470383,2018-02-14 04:26:27+00:00,2023-04-12 15:36:47.000000,2023-04-12 15:59:44.000000,439241,10186,10186,2828,873,10186,2828,269,35608259,35608259,solana,2023-04-12 16:08:56.642090
10,121470383,2018-02-14 04:26:27+00:00,2023-04-12 15:36:47.000000,2023-04-12 17:43:35.000000,439317,10186,10186,2829,872,10186,2829,270,35608259,35608259,solana,2023-04-12 18:05:12.386244
13,121470383,2018-02-14 04:26:27+00:00,2023-04-12 23:36:27.000000,2023-04-13 00:11:28.000000,440589,10187,10187,2830,866,10187,2830,270,35608259,35608259,solana,2023-04-13 00:21:57.949175
14,121470383,2018-02-14 04:26:27+00:00,2023-04-13 06:43:54.000000,2023-04-13 06:25:37.000000,440597,10190,10190,2831,863,10190,2831,270,35608259,35608259,solana,2023-04-13 06:32:14.187028
16,121470383,2018-02-14 04:26:27+00:00,2023-04-13 16:51:57.000000,2023-04-13 17:52:33.000000,440628,10190,10190,2832,860,10190,2832,270,35608259,35608259,solana,2023-04-13 18:05:13.588173
18,121470383,2018-02-14 04:26:27+00:00,2023-04-13 16:51:57.000000,2023-04-14 02:21:42.000000,440743,10190,10190,2834,861,10190,2834,270,35608259,35608259,solana,2023-04-14 03:07:02.246605
20,121470383,2018-02-14 04:26:27+00:00,2023-04-14 15:07:20.000000,2023-04-14 15:54:01.000000,440738,10193,10193,2833,861,10193,2833,270,35608259,35608259,solana,2023-04-14 16:01:10.498974
21,121470383,2018-02-14 04:26:27+00:00,2023-04-14 15:07:20.000000,2023-04-14 18:00:32.000000,440738,10193,10193,2833,861,10193,2833,270,35608259,35608259,solana,2023-04-14 18:05:12.248300

In [42]:

#### code for catagorical data
data_file = data.select_dtypes(exclude =np.number)
def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count

discrete_dataFrame_columns = ['Column Name', 'total_count', 'unique_count', 'null_count', '% null', 'levels',
                                  'value_count', '% counts']
discrete_dataFrame = pd.DataFrame(columns=discrete_dataFrame_columns)

def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count
for column in data_file.columns:

        #print("Working on : " + column)

        column_data = data_file[column]
        total_count, unique_count , null_count = count_stats(column_data)
        if(total_count!=0):
            null_per = float(null_count)/float(total_count)*100
        else:
            null_per = 0

        #column_type,column_data = get_column_type(column_data)


        value_counts = pd.DataFrame(column_data.value_counts())
        value_counts = value_counts.reset_index()
        value_counts.insert(loc=0,column='Column Name',value=column)
        value_count_columns = ['Column Name','levels', 'value_count']
        value_counts.columns = value_count_columns
        value_counts = value_counts.sort_values(by='value_count', ascending=False)
        value_counts_top = value_counts[:10].copy()
        top_frequency = value_counts_top.value_count.sum()
        others_frequency = value_counts[10:].value_count.sum()


        temp_column_names = ['Column Name','total_count','unique_count','null_count','% null']
        temp_values = [[column,total_count,unique_count,null_count,null_per]]
        temp_dataFrame = pd.DataFrame(columns=temp_column_names,data=temp_values)

        ## create value counts dataframe with others column
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
        ## add null level
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
        ## add % counts

        if(total_count!=0):
                value_counts_top['% counts'] = value_counts_top.value_count/float(total_count) * 100
        else:
                value_counts_top['% counts'] = 0

            ## merge temp_dataframe and value_counts_top, then insert into discrete_dataframe
        temp_discrete_dataFrame = temp_dataFrame.merge(how='left',left_on='Column Name',right_on='Column Name',right=value_counts_top)

        discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
discrete_dataFrame_cat = discrete_dataFrame.copy()
discrete_dataFrame_cat['Column_Type']=['Categorical']*len(discrete_dataFrame_cat)        
discrete_dataFrame_cat = discrete_dataFrame_cat[['Column_Type','Column Name', 'total_count', 'unique_count', 'null_count', '% null',
       'levels', 'value_count', '% counts']]
        
#### code for cont. data
data_file = data.select_dtypes(include =np.number)
def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count

discrete_dataFrame_columns = ['Column Name', 'total_count', 'unique_count', 'null_count', '% null', 'levels',
                                  'value_count', '% counts']
discrete_dataFrame = pd.DataFrame(columns=discrete_dataFrame_columns)

def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count
for column in data_file.columns:

       #print("Working on : " + column)

        column_data = data_file[column]
        total_count, unique_count , null_count = count_stats(column_data)
        if(total_count!=0):
            null_per = float(null_count)/float(total_count)*100
        else:
            null_per = 0

        #column_type,column_data = get_column_type(column_data)


        value_counts = pd.DataFrame(column_data.value_counts())
        value_counts = value_counts.reset_index()
        value_counts.insert(loc=0,column='Column Name',value=column)
        value_count_columns = ['Column Name','levels', 'value_count']
        value_counts.columns = value_count_columns
        value_counts = value_counts.sort_values(by='value_count', ascending=False)
        value_counts_top = value_counts[:10].copy()
        top_frequency = value_counts_top.value_count.sum()
        others_frequency = value_counts[10:].value_count.sum()


        temp_column_names = ['Column Name','total_count','unique_count','null_count','% null']
        temp_values = [[column,total_count,unique_count,null_count,null_per]]
        temp_dataFrame = pd.DataFrame(columns=temp_column_names,data=temp_values)

        ## create value counts dataframe with others column
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
        ## add null level
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
        ## add % counts

        if(total_count!=0):
                value_counts_top['% counts'] = value_counts_top.value_count/float(total_count) * 100
        else:
                value_counts_top['% counts'] = 0

            ## merge temp_dataframe and value_counts_top, then insert into discrete_dataframe
        temp_discrete_dataFrame = temp_dataFrame.merge(how='left',left_on='Column Name',right_on='Column Name',right=value_counts_top)

        discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
df=data_file.describe(percentiles=[.1,.2,.25,.3,.4,.6,.7,.75,.8,.9]).T.reset_index()
df=df.drop(labels="count",axis=1)
df2=pd.merge(discrete_dataFrame,df,how='left',left_on='Column Name',right_on='index')
Q1 = data_file.quantile(0.25)
Q3 = data_file.quantile(0.75)
IQR = Q3 - Q1
outliers=pd.DataFrame(data=((data_file< (Q1 - 1.5 * IQR)) | (data_file > (Q3 + 1.5 * IQR))).sum(),columns=["Outliers_count"]).reset_index()
df3=pd.merge(df2,outliers,how='left',left_on='Column Name',right_on='index')
df3=df3.drop(labels=['index_x','index_y'],axis=1)
df3['Column_Type']=['Continous']*len(df3)
df3=df3[['Column_Type','Column Name', 'total_count', 'unique_count', 'null_count', '% null',
       'levels', 'value_count', '% counts', 'mean', 'std', 'min', 
       '25%', '50%', '75%', '90%', 'max',
       'Outliers_count']]
df3=df3.append(discrete_dataFrame_cat)

/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:62: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:73: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:138: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:140: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
/var/folders/g4/020x78v91s3643mdnds6k4hr0000gn/T/ipykernel_30765/3968282178.py:166: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3=df3.append(discrete_dataFrame_cat)

In [43]:
df3

,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,25%,50%,75%,90%,max,Outliers_count
0,Continous,id,118,118,0,0.0,1661541619,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
1,Continous,id,118,118,0,0.0,1660246155,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
2,Continous,id,118,118,0,0.0,1661293686,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
3,Continous,id,118,118,0,0.0,1661257166,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
4,Continous,id,118,118,0,0.0,1661142003,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
5,Continous,id,118,118,0,0.0,1661120195,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
6,Continous,id,118,118,0,0.0,1661106152,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
7,Continous,id,118,118,0,0.0,1661093712,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
8,Continous,id,118,118,0,0.0,1661014315,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
9,Continous,id,118,118,0,0.0,1660506333,1,0.847458,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
10,Continous,id,118,118,0,0.0,others,108,91.525424,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
11,Continous,id,118,118,0,0.0,nulls,0,0.0,1.660479e+09,5.591943e+06,1.644651e+09,1.657841e+09,1.661629e+09,1.664747e+09,1.666387e+09,1.668556e+09,4.0
12,Continous,number,118,118,0,0.0,31138,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
13,Continous,number,118,118,0,0.0,31118,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
14,Continous,number,118,118,0,0.0,31135,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
15,Continous,number,118,118,0,0.0,31134,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
16,Continous,number,118,118,0,0.0,31132,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
17,Continous,number,118,118,0,0.0,31131,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
18,Continous,number,118,118,0,0.0,31130,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
19,Continous,number,118,118,0,0.0,31129,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
20,Continous,number,118,118,0,0.0,31128,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
21,Continous,number,118,118,0,0.0,31124,1,0.847458,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
22,Continous,number,118,118,0,0.0,others,108,91.525424,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
23,Continous,number,118,118,0,0.0,nulls,0,0.0,2.991482e+04,1.762477e+03,2.735700e+04,2.744625e+04,3.112600e+04,3.116375e+04,3.118460e+04,3.120400e+04,0.0
24,Continous,closed_at,118,0,118,100.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25,Continous,closed_at,118,0,118,100.0,nulls,118,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26,Continous,comments,118,10,0,0.0,1,45,38.135593,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
27,Continous,comments,118,10,0,0.0,0,39,33.050847,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
28,Continous,comments,118,10,0,0.0,3,11,9.322034,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
29,Continous,comments,118,10,0,0.0,2,7,5.932203,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
30,Continous,comments,118,10,0,0.0,4,5,4.237288,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
31,Continous,comments,118,10,0,0.0,6,4,3.389831,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
32,Continous,comments,118,10,0,0.0,5,4,3.389831,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
33,Continous,comments,118,10,0,0.0,12,1,0.847458,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
34,Continous,comments,118,10,0,0.0,10,1,0.847458,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
35,Continous,comments,118,10,0,0.0,9,1,0.847458,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
36,Continous,comments,118,10,0,0.0,others,0,0.0,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
37,Continous,comments,118,10,0,0.0,nulls,0,0.0,1.584746e+00,2.117595e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.200000e+01,7.0
38,Continous,user_id,118,60,0,0.0,219428,7,5.932203,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
39,Continous,user_id,118,60,0,0.0,840349,7,5.932203,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
40,Continous,user_id,118,60,0,0.0,37929162,6,5.084746,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
41,Continous,user_id,118,60,0,0.0,863730,6,5.084746,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
42,Continous,user_id,118,60,0,0.0,8209234,5,4.237288,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
43,Continous,user_id,118,60,0,0.0,49699333,5,4.237288,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
44,Continous,user_id,118,60,0,0.0,59367509,5,4.237288,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
45,Continous,user_id,118,60,0,0.0,5400107,5,4.237288,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
46,Continous,user_id,118,60,0,0.0,75863576,5,4.237288,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
47,Continous,user_id,118,60,0,0.0,13732359,3,2.542373,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
48,Continous,user_id,118,60,0,0.0,others,64,54.237288,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
49,Continous,user_id,118,60,0,0.0,nulls,0,0.0,2.633437e+07,3.104224e+07,1.021700e+04,8.637300e+05,8.143202e+06,4.969933e+07,7.586358e+07,9.455996e+07,0.0
0,Categorical,title,118,118,0,0.0,v1.14: doc: typo in geyser plugin doc (backpor...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,title,118,118,0,0.0,Fix finding ancestor during program cache pruning,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,title,118,118,0,0.0,disk index: add more tests,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Categorical,title,118,118,0,0.0,chore: Update Blockstore::get_slots_since() do...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categorical,title,118,118,0,0.0,chore: Variable rename `height` ==> `slot` in ...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Categorical,title,118,118,0,0.0,Add remove_incomplete_bank_snapshot_dir,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Categorical,title,118,118,0,0.0,add test,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Categorical,title,118,118,0,0.0,Add secondary vote lockout check,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Categorical,title,118,118,0,0.0,"cargo build-sbf depends on libssl.so.1.1, whic...",1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Categorical,title,118,118,0,0.0,Geyser drops finalized notifications,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Categorical,title,118,118,0,0.0,others,108,91.525424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Categorical,title,118,118,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Categorical,created_at,118,118,0,0.0,2023-04-10 23:29:19,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,created_at,118,118,0,0.0,2023-04-10 05:11:25,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,created_at,118,118,0,0.0,2023-04-10 20:08:25,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Categorical,created_at,118,118,0,0.0,2023-04-10 19:39:33,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categorical,created_at,118,118,0,0.0,2023-04-10 18:04:15,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Categorical,created_at,118,118,0,0.0,2023-04-10 17:48:05,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Categorical,created_at,118,118,0,0.0,2023-04-10 17:34:14,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Categorical,created_at,118,118,0,0.0,2023-04-10 17:21:49,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Categorical,created_at,118,118,0,0.0,2023-04-10 16:10:30,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Categorical,created_at,118,118,0,0.0,2023-04-10 09:25:05,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Categorical,created_at,118,118,0,0.0,others,108,91.525424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Categorical,created_at,118,118,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Categorical,updated_at,118,118,0,0.0,2023-04-10 23:30:21,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,updated_at,118,118,0,0.0,2023-04-11 02:50:23,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,updated_at,118,118,0,0.0,2023-04-10 22:43:24,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Categorical,updated_at,118,118,0,0.0,2023-04-10 21:20:17,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categorical,updated_at,118,118,0,0.0,2023-04-10 20:13:07,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Categorical,updated_at,118,118,0,0.0,2023-04-10 17:48:05,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Categorical,updated_at,118,118,0,0.0,2023-04-10 17:34:14,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Categorical,updated_at,118,118,0,0.0,2023-04-11 02:43:35,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Categorical,updated_at,118,118,0,0.0,2023-04-10 16:10:30,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Categorical,updated_at,118,118,0,0.0,2023-04-11 01:12:57,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Categorical,updated_at,118,118,0,0.0,others,108,91.525424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Categorical,updated_at,118,118,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Categorical,author_association,118,4,0,0.0,CONTRIBUTOR,81,68.644068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,author_association,118,4,0,0.0,MEMBER,23,19.491525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,author_association,118,4,0,0.0,NONE,12,10.169492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Categorical,author_association,118,4,0,0.0,COLLABORATOR,2,1.694915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categorical,author_association,118,4,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Categorical,author_association,118,4,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Categorical,body,118,116,0,0.0,#### Problem\r\n\r\n\r\n#### Summary of Change...,3,2.542373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,body,118,116,0,0.0,#### Problem\r\nThe program cache pruning fail...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,body,118,116,0,0.0,#### Problem\r\n\r\nTo handle bootstrap better...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Categorical,body,118,116,0,0.0,#### Problem\r\n\r\n#### Summary of Changes\r\...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categorical,body,118,116,0,0.0,#### Summary of Changes\r\nAdd more descriptiv...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Categorical,body,118,116,0,0.0,#### Problem\r\nSlots refer to time windows wh...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Categorical,body,118,116,0,0.0,#### Problem\r\nCreating a bank snapshot dir t...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Categorical,body,118,116,0,0.0,#### Problem\r\nAdd test related to #31094\r\n...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Categorical,body,118,116,0,0.0,#### Problem\r\nWe're seeing frequent (multipl...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Categorical,body,118,116,0,0.0,#### Problem\r\nThe solana build toolchain is ...,1,0.847458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Categorical,body,118,116,0,0.0,others,106,89.830508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Categorical,body,118,116,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Categorical,user_login,118,60,0,0.0,HaoranYi,7,5.932203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,user_login,118,60,0,0.0,brooksprumo,7,5.932203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,user_login,118,60,0,0.0,mergify[bot],6,5.084746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Categorical,user_login,118,60,0,0.0,fanquake,6,5.084746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categorical,user_login,118,60,0,0.0,yihau,5,4.237288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Categorical,user_login,118,60,0,0.0,dependabot[bot],5,4.237288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Categorical,user_login,118,60,0,0.0,xiangzhu70,5,4.237288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Categorical,user_login,118,60,0,0.0,steviez,5,4.237288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Categorical,user_login,118,60,0,0.0,jeffwashington,5,4.237288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Categorical,user_login,118,60,0,0.0,apfitzge,3,2.542373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Categorical,user_login,118,60,0,0.0,others,64,54.237288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Categorical,user_login,118,60,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Categorical,Crypto_Name,118,2,0,0.0,solana,79,66.949153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,Crypto_Name,118,2,0,0.0,bitcoin,39,33.050847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,Crypto_Name,118,2,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Categorical,Crypto_Name,118,2,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Categorical,Extension,118,1,0,0.0,/issues,118,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Categorical,Extension,118,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Categorical,Extension,118,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
main_df

,id,created_at,updated_at,pushed_at,size,stargazers_count,watchers_count,forks_count,open_issues_count,watchers,network_count,subscribers_count,owner_id,organization_id,Crypto,inserted_at
0,1181927,2010-12-19 15:16:43+00:00,2023-04-11 19:13:53.000000,2023-04-11 18:36:34.000000,228758,69004,69004,34048,684,69004,34048,3932,528860,528860,bitcoin,2023-04-11 19:14:25.475622
1,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-11 18:56:16.000000,439138,10182,10182,2824,871,10182,2824,269,35608259,35608259,solana,2023-04-11 19:15:07.319429
2,1181927,2010-12-19 15:16:43+00:00,2023-04-11 19:13:53.000000,2023-04-11 18:36:34.000000,228758,69004,69004,34048,684,69004,34048,3932,528860,528860,bitcoin,2023-04-11 19:15:33.946535
3,1181927,2010-12-19 15:16:43+00:00,2023-04-11 19:23:25.000000,2023-04-11 20:01:38.000000,228758,69003,69003,34049,684,69003,34049,3932,528860,528860,bitcoin,2023-04-11 20:04:03.233761
4,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-11 20:00:44.000000,439138,10182,10182,2824,870,10182,2824,269,35608259,35608259,solana,2023-04-11 20:08:40.057045
5,121470383,2018-02-14 04:26:27+00:00,2023-04-11 18:18:42.000000,2023-04-12 01:32:48.000000,439684,10182,10182,2826,870,10182,2826,269,35608259,35608259,solana,2023-04-12 02:29:16.483210
6,1181927,2010-12-19 15:16:43+00:00,2023-04-12 02:06:45.000000,2023-04-11 21:35:23.000000,228758,69009,69009,34048,685,69009,34048,3931,528860,528860,bitcoin,2023-04-12 02:30:25.366766
7,1181927,2010-12-19 15:16:43+00:00,2023-04-12 14:45:19.000000,2023-04-12 15:11:27.000000,228782,69018,69018,34052,683,69018,34052,3932,528860,528860,bitcoin,2023-04-12 13:52:26.770311
8,121470383,2018-02-14 04:26:27+00:00,2023-04-12 15:36:47.000000,2023-04-12 15:59:44.000000,439241,10186,10186,2828,873,10186,2828,269,35608259,35608259,solana,2023-04-12 16:08:56.642090
9,1181927,2010-12-19 15:16:43+00:00,2023-04-12 16:03:12.000000,2023-04-12 16:11:36.000000,228813,69017,69017,34052,684,69017,34052,3932,528860,528860,bitcoin,2023-04-12 16:15:17.694781
10,121470383,2018-02-14 04:26:27+00:00,2023-04-12 15:36:47.000000,2023-04-12 17:43:35.000000,439317,10186,10186,2829,872,10186,2829,270,35608259,35608259,solana,2023-04-12 18:05:12.386244
11,1181927,2010-12-19 15:16:43+00:00,2023-04-12 23:38:13.000000,2023-04-12 23:56:47.000000,228959,69025,69025,34051,684,69025,34051,3932,528860,528860,bitcoin,2023-04-13 00:10:15.096663
12,1181927,2010-12-19 15:16:43+00:00,2023-04-12 23:38:13.000000,2023-04-12 23:56:47.000000,228959,69025,69025,34051,684,69025,34051,3932,528860,528860,bitcoin,2023-04-13 00:13:49.896068
13,121470383,2018-02-14 04:26:27+00:00,2023-04-12 23:36:27.000000,2023-04-13 00:11:28.000000,440589,10187,10187,2830,866,10187,2830,270,35608259,35608259,solana,2023-04-13 00:21:57.949175
14,121470383,2018-02-14 04:26:27+00:00,2023-04-13 06:43:54.000000,2023-04-13 06:25:37.000000,440597,10190,10190,2831,863,10190,2831,270,35608259,35608259,solana,2023-04-13 06:32:14.187028
15,1181927,2010-12-19 15:16:43+00:00,2023-04-13 15:47:48.000000,2023-04-13 15:12:48.000000,228971,69043,69043,34060,682,69043,34060,3931,528860,528860,bitcoin,2023-04-13 15:56:07.776892
16,121470383,2018-02-14 04:26:27+00:00,2023-04-13 16:51:57.000000,2023-04-13 17:52:33.000000,440628,10190,10190,2832,860,10190,2832,270,35608259,35608259,solana,2023-04-13 18:05:13.588173
17,1181927,2010-12-19 15:16:43+00:00,2023-04-13 17:59:18.000000,2023-04-13 18:46:43.000000,228971,69044,69044,34060,682,69044,34060,3930,528860,528860,bitcoin,2023-04-13 19:10:10.648369
18,121470383,2018-02-14 04:26:27+00:00,2023-04-13 16:51:57.000000,2023-04-14 02:21:42.000000,440743,10190,10190,2834,861,10190,2834,270,35608259,35608259,solana,2023-04-14 03:07:02.246605
19,1181927,2010-12-19 15:16:43+00:00,2023-04-14 02:48:38.000000,2023-04-14 01:44:41.000000,228978,69046,69046,34062,682,69046,34062,3931,528860,528860,bitcoin,2023-04-14 03:08:32.856509
20,121470383,2018-02-14 04:26:27+00:00,2023-04-14 15:07:20.000000,2023-04-14 15:54:01.000000,440738,10193,10193,2833,861,10193,2833,270,35608259,35608259,solana,2023-04-14 16:01:10.498974
21,121470383,2018-02-14 04:26:27+00:00,2023-04-14 15:07:20.000000,2023-04-14 18:00:32.000000,440738,10193,10193,2833,861,10193,2833,270,35608259,35608259,solana,2023-04-14 18:05:12.248300
22,1181927,2010-12-19 15:16:43+00:00,2023-04-14 18:26:27.000000,2023-04-14 16:43:44.000000,228984,69063,69063,34065,684,69063,34065,3931,528860,528860,bitcoin,2023-04-14 19:10:12.327308